.grass{
    background-color: rgb(48, 189, 48);
}

.fire{
    background-color: rgb(170, 0, 0);
}

.water{
    background-color: rgb(0, 0, 220);
}

.bug{
    background-color: green;
}

.normal{
    background-color: rgb(172, 172, 172);
}

.poison{
    background-color: rgb(159, 0, 159);
}

.electric{
    background-color: rgb(189, 189, 0);
}

.ground{
    background-color: rgb(184, 119, 0);
}

.fairy{
    background-color: pink;
}

.fighting{
    background-color: rgb(174, 41, 41);
}

.flying{
    background-color: skyblue;
}

.show_grass{
    background-color: rgb(60, 225, 60);
}

.show_fire{
    background-color: rgb(176, 0, 0);
}

.show_water{
    background-color: rgb(0, 0, 255);
}

.show_bug{
    background-color: rgb(0, 146, 0);
}

.show_normal{
    background-color: rgb(192, 192, 192);
}

.show_poison{
    background-color: rgb(178, 0, 178);
}

.show_electric{
    background-color: rgb(216, 216, 0);
}

.show_ground{
    background-color: rgb(206, 134, 0);
}

.show_fairy{
    background-color: rgb(255, 205, 213);
}

.show_fighting{
    background-color: rgb(189, 45, 45);
}

.show_flying{
    background-color: skyblue;
}